

@font-face {
font-family: "MontserratSB" ;
src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
font-family: "MontserratR";
src: url("../../fonts/Montserrat-Regular.ttf");
}

@font-face {
font-family: "MyriadPro";
src: url("../../fonts/MyriadPro-Regular.woff");
}



