//colors

$gray:#8a8a8a;
$blue:#354a9e;
$white: #ffffff;
$black: #000000;
$dBlue: #1b264d;
//font-stack

$stack-sans-serif : Helvetica, Arial, sans-serif;
$MyriadPro : 'MyriadPro', $stack-sans-serif;
$MontserratSB: 'MontserratSB', $stack-sans-serif;
$MontserratR: 'MontserratR', $stack-sans-serif;


